### logs

**20230612**:\
\
**DTL/ATL** to **tL-TAL**，
**CoD1/2/3** to **tL1**，
**CoD4** to **tL2**，
**Mes** to **JGA**\
\
for **celltype5_rna (RNA)**, **celltype_atac5 (ATAC)**, and **celltype (merged)** columns.\
\
Updated color Palette\
\
for **RNA**\
RNA: c('JGA', 'POD', 'PEC', 'PT', 'PT_dediff', 'PT_VCAM1', 'tL1','tL2','tL-TAL',
                                                   'TAL1','TAL2', 'TAL3', 'DCT', 'CNT', 'PC1', 'PC2', 'ICA', 'ICB',
       'Uro1', 'Uro2', 'ENDO', 'SMC1', 'SMC2', 'SMC3',
       'Fib1', 'Fib2', 'Fib3', 'Ma', 'BT')\
c('#FF8933', '#00B5EB', '#0077BE', '#8DC71E', '#69B41E', '#013220',
        '#936210', '#5E2A0F', '#C9F5E6','#128394', '#62CCCC', '#046494',
       '#be658d', '#8a3e6a', '#6a3070', '#4c2564', '#617A2E', '#A57C00',
       '#092092', '#1C3BAC', '#F9CC72', '#E97E88', '#F8D1CD', '#E15566',
       '#E2062B', '#860111', '#B4041E', '#86DEBB', '#7D4729')\
\
for **ATAC**\
ATAC:
c('POD/PEC', 'PT', 'PT_VCAM1', 'tL1','tL2','tL-TAL', 'TAL1', 'TAL2/3',
                                                   'DCT', 'CNT', 'PC1', 'PC2', 'IC', 'Uro', 'ENDO', 'SMC',
       'Fib1', 'Fib2', 'Fib3', 'Ma', 'BT')\
c('#00B5EB','#8DC71E', '#013220',
'#936210', '#5E2A0F', '#C9F5E6',
    '#128394','#046494',
 '#be658d','#8a3e6a', '#6a3070', '#4c2564',
 '#617A2E','#092092','#F9CC72', '#F8D1CD',
 '#E2062B', '#860111', '#B4041E',
 '#86DEBB', '#7D4729')

### define RNA color palette

In [1]:
level.novaseq.rna <- c('JGA', 'POD', 'PEC', 
                       'PT', 'PT_dediff', 'PT_VCAM1', 
                       'tL1','tL2','tL-TAL', 'TAL1','TAL2', 'TAL3', 
                       'DCT', 'CNT', 
                       'PC1', 'PC2', 
                       'ICA', 'ICB', 
                       'Uro1', 'Uro2', 
                       'ENDO', 
                       'SMC1', 'SMC2', 'SMC3', 
                       'Fib1', 'Fib2', 'Fib3', 
                       'Ma', 'BT')

palette.novaseq.rna <- c('#FF8933', '#00B5EB', '#0077BE', 
                         '#8DC71E', '#69B41E', '#013220',
                         '#936210', '#5E2A0F', '#C9F5E6','#128394', '#62CCCC', '#046494',
                         '#be658d', '#8a3e6a', 
                         '#6a3070', '#4c2564', 
                         '#617A2E', '#A57C00',
                         '#092092', '#1C3BAC', 
                         '#F9CC72', 
                         '#E97E88', '#F8D1CD', '#E15566',
                         '#E2062B', '#860111', '#B4041E', 
                         '#86DEBB', '#7D4729')

### define ATAC color palette

In [2]:
level.novaseq <- c('POD/PEC', 'PT', 'PT_VCAM1', 
                   'tL1','tL2','tL-TAL', 'TAL1', 'TAL2/3',           
                   'DCT', 'CNT', 
                   'PC1', 'PC2', 
                   'IC', 'Uro', 'ENDO', 'SMC',
                   'Fib1', 'Fib2', 'Fib3', 
                   'Ma', 'BT')

palette.novaseq <- c('#00B5EB','#8DC71E', '#013220',
                     '#936210', '#5E2A0F', '#C9F5E6', '#128394','#046494',
                     '#be658d','#8a3e6a', 
                     '#6a3070', '#4c2564',
                     '#617A2E','#092092','#F9CC72', '#F8D1CD',
                     '#E2062B', '#860111', '#B4041E',
                     '#86DEBB', '#7D4729')

### define renal_region_new color palette

In [3]:
level.novaseq.renal_region_new  <- c("Cortex", "Medulla", "Papilla", "Renal Artery", "Ureter")     # C/M/P/RA/U
palette.novaseq.renal_region_new <- c('#4C9150','#7A339E','#E0AB3D','#CC2114','black')

In [4]:
library(Seurat)
library(Signac)
library(SeuratWrappers)
library(SeuratObject)
# library(RENIN)
library(harmony)

Attaching SeuratObject

Attaching sp


Attaching package: ‘Signac’


The following object is masked from ‘package:Seurat’:

    FoldChange


Loading required package: Rcpp

In [5]:
Sys.time()

[1] "2023-06-27 22:57:06 CDT"

In [6]:
# setwd("/home/data/dianli/projects/hli_SHAREseq-region-NovaseqS4/ATAC_merged_output/SHAREseq_3_batches/20230510/code")

### load ATAC object

In [17]:
Sys.time()
load("../../data/20221221_findcluster_update_celltype_atac5.Rdata")
novaseq
Sys.time()

[1] "2023-06-27 22:57:43 CDT"

An object of class Seurat
209141 features across 401875 samples within 2 assays
Active assay: peaks (189184 features, 189184 variable features)
 1 other assay present: RNA
 3 dimensional reductions calculated: lsi, harmony, umap

[1] "2023-06-27 23:01:40 CDT"

In [18]:
colnames(novaseq@meta.data)

 [1] "orig.ident"            "nCount_peaks"          "nFeature_peaks"
 [4] "nucleosome_signal"     "nucleosome_percentile" "TSS.enrichment"
 [7] "TSS.percentile"        "high.tss"              "nucleosome_group"
[10] "fragments"             "reads_count"           "mononucleosomal"
[13] "nucleosome_free"       "FRiP"                  "blacklist_fraction"
[16] "sample_id"             "sample_id_new"         "patient_id"
[19] "batch"                 "atac_prep_date"        "renal_region"
[22] "renal_region_new"      "n_genes_by_counts"     "total_counts"
[25] "total_counts_mt"       "pct_counts_mt"         "R1_id"
[28] "rna_barcode"           "doublet_score"         "nCount_RNA"
[31] "nFeature_RNA"          "seurat_clusters"       "peaks_snn_res3"
[34] "peaks_snn_res4"        "celltype_atac5"        "celltype"

### remove RNA slot because it's calculated by gene_activity function

In [19]:
novaseq[["RNA"]]  <- NULL
novaseq

An object of class Seurat
189184 features across 401875 samples within 1 assay
Active assay: peaks (189184 features, 189184 variable features)
 3 dimensional reductions calculated: lsi, harmony, umap

### remove lsi, harmony, umap reductions because they will be regenerated

In [20]:
novaseq[["lsi"]]  <-  NULL
novaseq[["harmony"]]  <- NULL
novaseq[["umap"]]  <-  NULL

In [21]:
novaseq

An object of class Seurat
189184 features across 401875 samples within 1 assay
Active assay: peaks (189184 features, 189184 variable features)

### load RNA object

In [22]:
Sys.time()
load("../../data/scanpy17_cleaned_20221123_RNA_446267cells_raw.Rdata")
novaseq.rna
Sys.time()

[1] "2023-06-27 23:01:41 CDT"

An object of class Seurat
48338 features across 446267 samples within 1 assay
Active assay: RNA (48338 features, 0 variable features)
 3 dimensional reductions calculated: pca, pca_first, umap

[1] "2023-06-27 23:02:38 CDT"

### remove pca, pca_first, and umap because they will be regenerated

In [23]:
novaseq.rna[["pca"]] <- NULL
novaseq.rna[["pca_first"]] <- NULL
novaseq.rna[["umap"]] <- NULL

In [24]:
novaseq.rna

An object of class Seurat
48338 features across 446267 samples within 1 assay
Active assay: RNA (48338 features, 0 variable features)

### check celltype5_rna, celltype_atac5 column distributions

In [25]:
class(novaseq$celltype_atac5)
table(novaseq$celltype_atac5)
unique(novaseq$celltype_atac5)

[1] "character"

      BT      CNT     CoD1   CoD2/3     CoD4      DCT  DTL/ATL    Endo1
    7781    12831    13613    14449    10205    22644    23850    15987
   Endo2     Fib1     Fib2     Fib3       IC       Ma      PC1      PC2
    3569     5828    11733      559    17383     5325    19049     4936
 POD/PEC       PT PT_VCAM1      SMC     TAL1   TAL2/3      Uro
    2184   121675    15998     5623    39742    22900     4011

 [1] "CoD1"     "PT_VCAM1" "Endo2"    "PT"       "PC1"      "TAL1"
 [7] "CNT"      "DTL/ATL"  "IC"       "CoD4"     "Fib1"     "Fib2"
[13] "DCT"      "Endo1"    "TAL2/3"   "CoD2/3"   "Uro"      "SMC"
[19] "BT"       "PC2"      "Ma"       "Fib3"     "POD/PEC"

In [26]:
class(novaseq.rna$celltype5)
table(novaseq.rna$celltype5)
unique(novaseq.rna$celltype5)

[1] "factor"

      Mes       POD       PEC        PT PT_dediff  PT_VCAM1   DTL/ATL      TAL1
     3939      4321      1438     82341     36802      9766     24464     42803
     TAL2      TAL3       DCT       CNT       PC1       PC2       ICA       ICB
    30662      9887     19226     17255     21757      5346     14483      5654
     CoD1      CoD2      CoD3      CoD4      Uro1      Uro2      ENDO      SMC1
    11652     11204     10662     14203      5329      2063     18592      6464
     SMC2      SMC3      Fib1      Fib2      Fib3        Ma        BT
      936       174      5556     10749      4428      5836      8275

 [1] CNT       CoD2      DCT       TAL2      PT        PT_dediff PT_VCAM1
 [8] PC2       BT        CoD4      ENDO      Ma        PC1       TAL3
[15] SMC1      ICA       Fib1      ICB       CoD1      POD       Mes
[22] DTL/ATL   TAL1      Uro1      Fib3      Fib2      CoD3      PEC
[29] Uro2      SMC3      SMC2
31 Levels: Mes POD PEC PT PT_dediff PT_VCAM1 DTL/ATL TAL1 TAL2 TAL3 DCT ... BT

In [27]:
setdiff(unique(novaseq$celltype_atac5), unique(novaseq.rna$celltype5))

[1] "Endo2"   "IC"      "Endo1"   "TAL2/3"  "CoD2/3"  "Uro"     "SMC"
[8] "POD/PEC"

In [28]:
setdiff(unique(novaseq.rna$celltype5), unique(novaseq$celltype_atac5))

 [1] "CoD2"      "TAL2"      "PT_dediff" "ENDO"      "TAL3"      "SMC1"
 [7] "ICA"       "ICB"       "POD"       "Mes"       "Uro1"      "CoD3"
[13] "PEC"       "Uro2"      "SMC3"      "SMC2"

## update celltype5 in novaseq.rna

### replace Mes in celltype5 with JGA
### replace DTL/ATL in celltype5 with tL-TAL
### replace CoD1/2/3 in celltype5 with tL1, and CoD4 to tL2

In [29]:
table(novaseq.rna$celltype5)
levels(novaseq.rna$celltype5)[levels(novaseq.rna$celltype5) == "Mes"] <- "JGA"
levels(novaseq.rna$celltype5)[levels(novaseq.rna$celltype5) == "DTL/ATL"] <- "tL-TAL"
levels(novaseq.rna$celltype5)[levels(novaseq.rna$celltype5) == "CoD1"] <- "tL1"
levels(novaseq.rna$celltype5)[levels(novaseq.rna$celltype5) == "CoD2"] <- "tL1"
levels(novaseq.rna$celltype5)[levels(novaseq.rna$celltype5) == "CoD3"] <- "tL1"
levels(novaseq.rna$celltype5)[levels(novaseq.rna$celltype5) == "CoD4"] <- "tL2"
table(novaseq.rna$celltype5)

      Mes       POD       PEC        PT PT_dediff  PT_VCAM1   DTL/ATL      TAL1
     3939      4321      1438     82341     36802      9766     24464     42803
     TAL2      TAL3       DCT       CNT       PC1       PC2       ICA       ICB
    30662      9887     19226     17255     21757      5346     14483      5654
     CoD1      CoD2      CoD3      CoD4      Uro1      Uro2      ENDO      SMC1
    11652     11204     10662     14203      5329      2063     18592      6464
     SMC2      SMC3      Fib1      Fib2      Fib3        Ma        BT
      936       174      5556     10749      4428      5836      8275

      JGA       POD       PEC        PT PT_dediff  PT_VCAM1    tL-TAL      TAL1
     3939      4321      1438     82341     36802      9766     24464     42803
     TAL2      TAL3       DCT       CNT       PC1       PC2       ICA       ICB
    30662      9887     19226     17255     21757      5346     14483      5654
      tL1       tL2      Uro1      Uro2      ENDO      SMC1      SMC2      SMC3
    33518     14203      5329      2063     18592      6464       936       174
     Fib1      Fib2      Fib3        Ma        BT
     5556     10749      4428      5836      8275

In [30]:
length(levels(novaseq.rna$celltype5))
levels(novaseq.rna$celltype5)

[1] 29

 [1] "JGA"       "POD"       "PEC"       "PT"        "PT_dediff" "PT_VCAM1"
 [7] "tL-TAL"    "TAL1"      "TAL2"      "TAL3"      "DCT"       "CNT"
[13] "PC1"       "PC2"       "ICA"       "ICB"       "tL1"       "tL2"
[19] "Uro1"      "Uro2"      "ENDO"      "SMC1"      "SMC2"      "SMC3"
[25] "Fib1"      "Fib2"      "Fib3"      "Ma"        "BT"

## update celltype_atac5 in novaseq

In [31]:
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "Mes"][1:5]
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "DTL/ATL"] <- "tL-TAL"
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "CoD1"] <- "tL1"
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "CoD2/3"] <- "tL1"
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "CoD4"] <- "tL2"
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "Endo1"] <- "ENDO"
novaseq$celltype_atac5[(novaseq$celltype_atac5) == "Endo2"] <- "ENDO"

<NA> <NA> <NA> <NA> <NA>
  NA   NA   NA   NA   NA

In [32]:
setdiff(unique(novaseq$celltype_atac5), unique(novaseq.rna$celltype5))
setdiff(unique(novaseq.rna$celltype5), unique(novaseq$celltype_atac5))

[1] "IC"      "TAL2/3"  "Uro"     "SMC"     "POD/PEC"

 [1] "TAL2"      "PT_dediff" "TAL3"      "SMC1"      "ICA"       "ICB"
 [7] "POD"       "JGA"       "Uro1"      "PEC"       "Uro2"      "SMC3"
[13] "SMC2"

### match meta.data for rna and atac

In [33]:
meta_table_rna = novaseq.rna@meta.data
dim(meta_table_rna)
head(meta_table_rna)

[1] 446267     12

                           n_genes n_genes_by_counts total_counts
R1.01,R2.01,R3.04,P1.03,B1 445     445               512
R1.01,R2.01,R3.31,P1.03,B1 284     284               312
R1.01,R2.04,R3.77,P1.02,B1 307     307               339
R1.01,R2.10,R3.71,P1.06,B1 370     370               426
R1.01,R2.17,R3.18,P1.07,B1 394     394               463
R1.01,R2.17,R3.40,P1.02,B1 660     660               742
                           total_counts_mt pct_counts_mt patient_id
R1.01,R2.01,R3.04,P1.03,B1 2               0.3906250     AHLD054
R1.01,R2.01,R3.31,P1.03,B1 1               0.3205128     AHLD054
R1.01,R2.04,R3.77,P1.02,B1 3               0.8849558     AHLD054
R1.01,R2.10,R3.71,P1.06,B1 5               1.1737089     AHLD054
R1.01,R2.17,R3.18,P1.07,B1 1               0.2159827     AHLD054
R1.01,R2.17,R3.40,P1.02,B1 6               0.8086253     AHLD054
                           renal_region n_counts doublet_score celltype4
R1.01,R2.01,R3.04,P1.03,B1 C            512      0.009351343   CNT
R1.01,R2.01,R3.31,P1.03,B1 C            312      0.043385110   CoD2
R1.01,R2.04,R3.77,P1.02,B1 C            339      0.014478283   DCT
R1.01,R2.10,R3.71,P1.06,B1 C            426      0.013083508   TAL2
R1.01,R2.17,R3.18,P1.07,B1 C            463      0.025015253   PT
R1.01,R2.17,R3.40,P1.02,B1 C            742      0.017537644   PT_dediff1
                           celltype5 celltype6
R1.01,R2.01,R3.04,P1.03,B1 CNT       Distal
R1.01,R2.01,R3.31,P1.03,B1 tL1       CoD
R1.01,R2.04,R3.77,P1.02,B1 DCT       Distal
R1.01,R2.10,R3.71,P1.06,B1 TAL2      LoH
R1.01,R2.17,R3.18,P1.07,B1 PT        Proximal
R1.01,R2.17,R3.40,P1.02,B1 PT_dediff Proximal

In [34]:
meta_table_atac = novaseq@meta.data
dim(meta_table_atac)
head(meta_table_atac)

[1] 401875     36

                              orig.ident    nCount_peaks nFeature_peaks
R1.034,R2.082,R3.082,P1.76,B3 SeuratProject 1353         1318
R1.047,R2.073,R3.003,P1.65,B2 SeuratProject  673          662
R1.009,R2.060,R3.048,P1.60,B3 SeuratProject 8063         7398
R1.016,R2.089,R3.022,P1.06,B2 SeuratProject  961          949
R1.025,R2.080,R3.017,P1.66,B2 SeuratProject 5250         4858
R1.056,R2.038,R3.008,P1.48,B2 SeuratProject  884          876
                              nucleosome_signal nucleosome_percentile
R1.034,R2.082,R3.082,P1.76,B3 0.7032326         0.71
R1.047,R2.073,R3.003,P1.65,B2 0.5416667         0.29
R1.009,R2.060,R3.048,P1.60,B3 0.9347209         0.90
R1.016,R2.089,R3.022,P1.06,B2 0.7307263         0.75
R1.025,R2.080,R3.017,P1.66,B2 0.6357013         0.57
R1.056,R2.038,R3.008,P1.48,B2 0.6028302         0.47
                              TSS.enrichment TSS.percentile high.tss
R1.034,R2.082,R3.082,P1.76,B3 3.717851       0.61           High
R1.047,R2.073,R3.003,P1.65,B2 3.364635       0.48           High
R1.009,R2.060,R3.048,P1.60,B3 3.599848       0.57           High
R1.016,R2.089,R3.022,P1.06,B2 4.551005       0.81           High
R1.025,R2.080,R3.017,P1.66,B2 3.281107       0.45           High
R1.056,R2.038,R3.008,P1.48,B2 4.531183       0.80           High
                              nucleosome_group fragments ⋯ R1_id
R1.034,R2.082,R3.082,P1.76,B3 NS < 2.5          3956     ⋯ 34
R1.047,R2.073,R3.003,P1.65,B2 NS < 2.5          1587     ⋯ 47
R1.009,R2.060,R3.048,P1.60,B3 NS < 2.5         23567     ⋯  9
R1.016,R2.089,R3.022,P1.06,B2 NS < 2.5          1839     ⋯ 16
R1.025,R2.080,R3.017,P1.66,B2 NS < 2.5         11047     ⋯ 25
R1.056,R2.038,R3.008,P1.48,B2 NS < 2.5          2084     ⋯ 56
                              rna_barcode                   doublet_score
R1.034,R2.082,R3.082,P1.76,B3 R1.034,R2.082,R3.082,P1.82,B4  0.01052632
R1.047,R2.073,R3.003,P1.65,B2 R1.047,R2.073,R3.003,P1.78,B2  0.05908944
R1.009,R2.060,R3.048,P1.60,B3 R1.009,R2.060,R3.048,P1.67,B4 -0.10000000
R1.016,R2.089,R3.022,P1.06,B2 R1.016,R2.089,R3.022,P1.11,B2 -0.10000000
R1.025,R2.080,R3.017,P1.66,B2 R1.025,R2.080,R3.017,P1.79,B2  0.17543860
R1.056,R2.038,R3.008,P1.48,B2 R1.056,R2.038,R3.008,P1.56,B2  0.01113861
                              nCount_RNA nFeature_RNA seurat_clusters
R1.034,R2.082,R3.082,P1.76,B3  2632      2192         36
R1.047,R2.073,R3.003,P1.65,B2  1031       964         6
R1.009,R2.060,R3.048,P1.60,B3 14550      8130         52
R1.016,R2.089,R3.022,P1.06,B2  1355      1241         41
R1.025,R2.080,R3.017,P1.66,B2  8219      5668         1
R1.056,R2.038,R3.008,P1.48,B2  1491      1353         11
                              peaks_snn_res3 peaks_snn_res4 celltype_atac5
R1.034,R2.082,R3.082,P1.76,B3 10             8              tL1
R1.047,R2.073,R3.003,P1.65,B2 8              6              PT_VCAM1
R1.009,R2.060,R3.048,P1.60,B3 30             35             ENDO
R1.016,R2.089,R3.022,P1.06,B2 1              3              PT
R1.025,R2.080,R3.017,P1.66,B2 13             10             PC1
R1.056,R2.038,R3.008,P1.48,B2 0              0              TAL1
                              celltype
R1.034,R2.082,R3.082,P1.76,B3 CoD1
R1.047,R2.073,R3.003,P1.65,B2 PT_VCAM1
R1.009,R2.060,R3.048,P1.60,B3 Endo2
R1.016,R2.089,R3.022,P1.06,B2 PT
R1.025,R2.080,R3.017,P1.66,B2 PC1
R1.056,R2.038,R3.008,P1.48,B2 TAL1

### find duplicated atac and rna barcode

In [35]:
df_barcode_atac = data.frame("atac_barcode" = rownames(meta_table_atac), "rna_barcode" = meta_table_atac$rna_barcode)
df_barcode_rna = data.frame("rna_barcode" = rownames(meta_table_rna), 'celltype5_rna' = meta_table_rna$celltype5)

sum(duplicated(df_barcode_atac$atac_barcode))
sum(duplicated(df_barcode_atac$rna_barcode))

sum(duplicated(df_barcode_rna$atac_barcode))
sum(duplicated(df_barcode_rna$rna_barcode))

[1] 0

[1] 31

[1] 0

[1] 0

In [36]:
duplicated_rna_barcode_in_atac_meta = df_barcode_atac$rna_barcode[duplicated(df_barcode_atac$rna_barcode)]
length(duplicated_rna_barcode_in_atac_meta)

[1] 31

In [37]:
duplicated_index = as.data.frame(t(sapply(duplicated_rna_barcode_in_atac_meta, FUN = function(x){
    which(df_barcode_atac$rna_barcode == x)
})))

dim(duplicated_index)

[1] 31  2

In [38]:
cbind(df_barcode_atac[duplicated_index$V1, ], df_barcode_atac[duplicated_index$V2, ])

       atac_barcode                  rna_barcode
95218  R1.061,R2.031,R3.062,P1.01,B3 R1.061,R2.031,R3.062,P1.08,B3
108273 R1.063,R2.083,R3.002,P1.02,B3 R1.063,R2.083,R3.002,P1.08,B3
78895  R1.075,R2.089,R3.001,P1.01,B3 R1.075,R2.089,R3.001,P1.08,B3
59602  R1.070,R2.024,R3.078,P1.02,B3 R1.070,R2.024,R3.078,P1.08,B3
98922  R1.065,R2.016,R3.093,P1.02,B3 R1.065,R2.016,R3.093,P1.08,B3
105524 R1.037,R2.033,R3.093,P1.02,B3 R1.037,R2.033,R3.093,P1.08,B3
234556 R1.088,R2.041,R3.017,P1.01,B3 R1.088,R2.041,R3.017,P1.08,B3
10356  R1.070,R2.066,R3.010,P1.01,B3 R1.070,R2.066,R3.010,P1.08,B3
240349 R1.068,R2.003,R3.011,P1.01,B3 R1.068,R2.003,R3.011,P1.08,B3
240216 R1.025,R2.065,R3.065,P1.02,B3 R1.025,R2.065,R3.065,P1.08,B3
22237  R1.076,R2.001,R3.094,P1.02,B3 R1.076,R2.001,R3.094,P1.08,B3
42623  R1.085,R2.089,R3.089,P1.01,B3 R1.085,R2.089,R3.089,P1.08,B3
83484  R1.087,R2.036,R3.002,P1.02,B3 R1.087,R2.036,R3.002,P1.08,B3
211047 R1.090,R2.027,R3.034,P1.02,B3 R1.090,R2.027,R3.034,P1.08,B3
171956 R1.093,R2.015,R3.064,P1.01,B3 R1.093,R2.015,R3.064,P1.08,B3
88361  R1.076,R2.091,R3.027,P1.02,B3 R1.076,R2.091,R3.027,P1.08,B3
179647 R1.068,R2.046,R3.044,P1.01,B3 R1.068,R2.046,R3.044,P1.08,B3
282737 R1.074,R2.015,R3.091,P1.01,B3 R1.074,R2.015,R3.091,P1.08,B3
284908 R1.016,R2.062,R3.072,P1.02,B3 R1.016,R2.062,R3.072,P1.08,B3
289082 R1.056,R2.080,R3.012,P1.01,B3 R1.056,R2.080,R3.012,P1.08,B3
200081 R1.060,R2.001,R3.092,P1.01,B3 R1.060,R2.001,R3.092,P1.08,B3
317787 R1.033,R2.039,R3.007,P1.02,B3 R1.033,R2.039,R3.007,P1.08,B3
84116  R1.081,R2.059,R3.001,P1.02,B3 R1.081,R2.059,R3.001,P1.08,B3
109831 R1.064,R2.058,R3.026,P1.02,B3 R1.064,R2.058,R3.026,P1.08,B3
137088 R1.042,R2.001,R3.089,P1.02,B3 R1.042,R2.001,R3.089,P1.08,B3
298913 R1.027,R2.072,R3.079,P1.01,B3 R1.027,R2.072,R3.079,P1.08,B3
1304   R1.041,R2.034,R3.082,P1.01,B3 R1.041,R2.034,R3.082,P1.08,B3
181869 R1.050,R2.006,R3.079,P1.02,B3 R1.050,R2.006,R3.079,P1.08,B3
200917 R1.015,R2.077,R3.077,P1.02,B3 R1.015,R2.077,R3.077,P1.08,B3
372302 R1.007,R2.056,R3.015,P1.02,B3 R1.007,R2.056,R3.015,P1.08,B3
241006 R1.087,R2.008,R3.089,P1.02,B3 R1.087,R2.008,R3.089,P1.08,B3
       atac_barcode                  rna_barcode
95218  R1.061,R2.031,R3.062,P1.02,B3 R1.061,R2.031,R3.062,P1.08,B3
108273 R1.063,R2.083,R3.002,P1.01,B3 R1.063,R2.083,R3.002,P1.08,B3
78895  R1.075,R2.089,R3.001,P1.02,B3 R1.075,R2.089,R3.001,P1.08,B3
59602  R1.070,R2.024,R3.078,P1.01,B3 R1.070,R2.024,R3.078,P1.08,B3
98922  R1.065,R2.016,R3.093,P1.01,B3 R1.065,R2.016,R3.093,P1.08,B3
105524 R1.037,R2.033,R3.093,P1.01,B3 R1.037,R2.033,R3.093,P1.08,B3
234556 R1.088,R2.041,R3.017,P1.02,B3 R1.088,R2.041,R3.017,P1.08,B3
10356  R1.070,R2.066,R3.010,P1.02,B3 R1.070,R2.066,R3.010,P1.08,B3
240349 R1.068,R2.003,R3.011,P1.02,B3 R1.068,R2.003,R3.011,P1.08,B3
240216 R1.025,R2.065,R3.065,P1.01,B3 R1.025,R2.065,R3.065,P1.08,B3
22237  R1.076,R2.001,R3.094,P1.01,B3 R1.076,R2.001,R3.094,P1.08,B3
42623  R1.085,R2.089,R3.089,P1.02,B3 R1.085,R2.089,R3.089,P1.08,B3
83484  R1.087,R2.036,R3.002,P1.01,B3 R1.087,R2.036,R3.002,P1.08,B3
211047 R1.090,R2.027,R3.034,P1.01,B3 R1.090,R2.027,R3.034,P1.08,B3
171956 R1.093,R2.015,R3.064,P1.02,B3 R1.093,R2.015,R3.064,P1.08,B3
88361  R1.076,R2.091,R3.027,P1.01,B3 R1.076,R2.091,R3.027,P1.08,B3
179647 R1.068,R2.046,R3.044,P1.02,B3 R1.068,R2.046,R3.044,P1.08,B3
282737 R1.074,R2.015,R3.091,P1.02,B3 R1.074,R2.015,R3.091,P1.08,B3
284908 R1.016,R2.062,R3.072,P1.01,B3 R1.016,R2.062,R3.072,P1.08,B3
289082 R1.056,R2.080,R3.012,P1.02,B3 R1.056,R2.080,R3.012,P1.08,B3
200081 R1.060,R2.001,R3.092,P1.02,B3 R1.060,R2.001,R3.092,P1.08,B3
317787 R1.033,R2.039,R3.007,P1.01,B3 R1.033,R2.039,R3.007,P1.08,B3
84116  R1.081,R2.059,R3.001,P1.01,B3 R1.081,R2.059,R3.001,P1.08,B3
109831 R1.064,R2.058,R3.026,P1.01,B3 R1.064,R2.058,R3.026,P1.08,B3
137088 R1.042,R2.001,R3.089,P1.01,B3 R1.042,R2.001,R3.089,P1.08,B3
298913 R1.027,R2.072,R3.079,P1.02,B3 R1.027,R2.072,R3.079,P1.08,B3
1304   R1.041,R2.034,R3.082,P1.02,B3 R1.041,R2.034,R3.082,P1.08,B3
181869 R1.050,R2.006,R3.079,P1.01,B3 R1.050,R2.006,R3.079,P1.08,B3
200917 R1.015,R2.077,R3.077,P1.01,B3 R1.015,R2.077,R3.077,P1.08,B3
372302 R1.007,R2.056,R3.015,P1.01,B3 R1.007,R2.056,R3.015,P1.08,B3
241006 R1.087,R2.008,R3.089,P1.01,B3 R1.087,R2.008,R3.089,P1.08,B3

### removing Rule

### remove ATAC cells with atac_barcode ending with "P1.02,B3" in the df_barcode_atac

In [39]:
length(grep("P1.02,B3$", df_barcode_atac$atac_barcode))

[1] 4798

In [40]:
dim(df_barcode_atac)
df_barcode_atac = df_barcode_atac[-which(grepl("P1.02,B3$", df_barcode_atac$atac_barcode)),]
dim(df_barcode_atac)

[1] 401875      2

[1] 397077      2

In [41]:
sum(duplicated(df_barcode_atac$atac_barcode))
sum(duplicated(df_barcode_atac$rna_barcode))

sum(duplicated(df_barcode_rna$atac_barcode))
sum(duplicated(df_barcode_rna$rna_barcode))

[1] 0

[1] 0

[1] 0

[1] 0

### create df_barcode data.frame to find shared rna_barcode in both atac meta.data and rna meta.data

In [42]:
df_barcode = dplyr::inner_join(df_barcode_atac, df_barcode_rna, by = "rna_barcode")
  
print("df_barcode_rna")
print(dim(df_barcode_rna))
# print(df_barcode_rna)
print("df_barcode_atac")
print(dim(df_barcode_atac))
# print(df_barcode_atac)
print("df_barcode")
print(dim(df_barcode))
print(head(df_barcode))

[1] "df_barcode_rna"
[1] 446267      2
[1] "df_barcode_atac"
[1] 397077      2
[1] "df_barcode"
[1] 324701      3
                   atac_barcode                   rna_barcode celltype5_rna
1 R1.034,R2.082,R3.082,P1.76,B3 R1.034,R2.082,R3.082,P1.82,B4           tL1
2 R1.047,R2.073,R3.003,P1.65,B2 R1.047,R2.073,R3.003,P1.78,B2           PEC
3 R1.025,R2.080,R3.017,P1.66,B2 R1.025,R2.080,R3.017,P1.79,B2     PT_dediff
4 R1.056,R2.038,R3.008,P1.48,B2 R1.056,R2.038,R3.008,P1.56,B2          TAL1
5 R1.089,R2.082,R3.024,P1.14,B1    R1.89,R2.82,R3.24,P1.07,B1           CNT
6 R1.031,R2.072,R3.075,P1.78,B3 R1.031,R2.072,R3.075,P1.84,B4          TAL2

### check with previously extracted barcode

In [43]:
# load("../processed_data/BK_20221221_324701_cells_multi_metadata.RData")

In [44]:
# sum(rownames(novaseq_meta_data) %in% df_barcode$atac_barcode)

324701

### delete several columns from atac meta.data

In [45]:
if ("total_counts_mt" %in% colnames(novaseq@meta.data)) novaseq$total_counts_mt <- NULL
if ("pct_counts_mt" %in% colnames(novaseq@meta.data)) novaseq$pct_counts_mt <- NULL
if ("nCount_RNA" %in% colnames(novaseq@meta.data)) novaseq$nCount_RNA <- NULL
if ("nFeature_RNA" %in% colnames(novaseq@meta.data)) novaseq$nFeature_RNA <- NULL
if ("n_genes" %in% colnames(novaseq@meta.data)) novaseq$n_genes <- NULL
if ("n_genes_by_counts" %in% colnames(novaseq@meta.data)) novaseq$n_genes_by_counts <- NULL
if ("total_counts" %in% colnames(novaseq@meta.data)) novaseq$total_counts <- NULL
if ("celltype" %in% colnames(novaseq@meta.data)) novaseq$celltype <- NULL
if ("peaks_snn_res3" %in% colnames(novaseq@meta.data)) novaseq$peaks_snn_res3 <- NULL

novaseq

An object of class Seurat
189184 features across 401875 samples within 1 assay
Active assay: peaks (189184 features, 189184 variable features)

In [46]:
colnames(novaseq@meta.data)

 [1] "orig.ident"            "nCount_peaks"          "nFeature_peaks"
 [4] "nucleosome_signal"     "nucleosome_percentile" "TSS.enrichment"
 [7] "TSS.percentile"        "high.tss"              "nucleosome_group"
[10] "fragments"             "reads_count"           "mononucleosomal"
[13] "nucleosome_free"       "FRiP"                  "blacklist_fraction"
[16] "sample_id"             "sample_id_new"         "patient_id"
[19] "batch"                 "atac_prep_date"        "renal_region"
[22] "renal_region_new"      "R1_id"                 "rna_barcode"
[25] "doublet_score"         "seurat_clusters"       "peaks_snn_res4"
[28] "celltype_atac5"

### subset atac object based on overlap barcode

In [47]:
Sys.time()
novaseq = subset(novaseq, 
                 cells = df_barcode$atac_barcode)
novaseq
Sys.time()

[1] "2023-06-27 23:02:44 CDT"

An object of class Seurat
189184 features across 324701 samples within 1 assay
Active assay: peaks (189184 features, 189184 variable features)

[1] "2023-06-27 23:04:30 CDT"

### subset RNA object based on overlap barcode

In [48]:
Sys.time()
novaseq.rna.sub = subset(novaseq.rna, 
                 cells = df_barcode$rna_barcode)
novaseq.rna.sub
Sys.time()

[1] "2023-06-27 23:04:30 CDT"

An object of class Seurat
48338 features across 324701 samples within 1 assay
Active assay: RNA (48338 features, 0 variable features)

[1] "2023-06-27 23:05:05 CDT"

### create new rna count matrix and add to novaseq object

In [49]:
Sys.time()
rna_counts = GetAssayData(object = novaseq.rna.sub[["RNA"]], slot = 'counts')
Sys.time()

[1] "2023-06-27 23:05:05 CDT"

[1] "2023-06-27 23:05:05 CDT"

### subset and reorder rna_counts to the corresponding ATAC barcodes

In [50]:
df_rna_counts_barcode = data.frame("rna_barcode" = colnames(rna_counts), "col_index" = 1:dim(rna_counts)[2])
df_rna_counts_barcode_shared = dplyr::inner_join(df_rna_counts_barcode, df_barcode, by = "rna_barcode")

In [51]:
rna_counts = rna_counts[, df_rna_counts_barcode_shared$col_index]

### change rna_counts column names / cell barcodes to atac_barcode

In [52]:
colnames(rna_counts) = df_rna_counts_barcode_shared$atac_barcode

### rename novaseq.rna.sub cells to atac_barcode

In [53]:
novaseq.rna.sub = RenameCells(novaseq.rna.sub, new.names = df_rna_counts_barcode_shared$atac_barcode)

## create RNA object

In [54]:
Sys.time()
tmp_RNA_obj <- CreateSeuratObject(counts = rna_counts)
tmp_RNA_obj
tmp_RNA_obj[["percent.mt"]] <- PercentageFeatureSet(tmp_RNA_obj, pattern = "^MT-")
tmp_RNA_obj[['celltype5_rna']] <- df_rna_counts_barcode_shared$celltype5_rna
tmp_RNA_obj <- NormalizeData(tmp_RNA_obj)
Sys.time()

[1] "2023-06-27 23:05:12 CDT"

An object of class Seurat
48338 features across 324701 samples within 1 assay
Active assay: RNA (48338 features, 0 variable features)

[1] "2023-06-27 23:06:02 CDT"

## add RNA assay and meta to ATAC object

In [55]:
Sys.time()
novaseq[["RNA"]] = tmp_RNA_obj[["RNA"]]
Sys.time()

[1] "2023-06-27 23:06:02 CDT"

[1] "2023-06-27 23:06:15 CDT"

In [56]:
novaseq

An object of class Seurat
237522 features across 324701 samples within 2 assays
Active assay: peaks (189184 features, 189184 variable features)
 1 other assay present: RNA

In [57]:
colnames(novaseq@meta.data)

 [1] "orig.ident"            "nCount_peaks"          "nFeature_peaks"
 [4] "nucleosome_signal"     "nucleosome_percentile" "TSS.enrichment"
 [7] "TSS.percentile"        "high.tss"              "nucleosome_group"
[10] "fragments"             "reads_count"           "mononucleosomal"
[13] "nucleosome_free"       "FRiP"                  "blacklist_fraction"
[16] "sample_id"             "sample_id_new"         "patient_id"
[19] "batch"                 "atac_prep_date"        "renal_region"
[22] "renal_region_new"      "R1_id"                 "rna_barcode"
[25] "doublet_score"         "seurat_clusters"       "peaks_snn_res4"
[28] "celltype_atac5"        "nCount_RNA"            "nFeature_RNA"

In [58]:
Sys.time()

[1] "2023-06-27 23:06:15 CDT"

### add percent.mt and celltype5_rna to meta.data

In [59]:
novaseq[["percent.mt"]]  <-  tmp_RNA_obj$percent.mt
novaseq[["celltype5_rna"]]  <-  tmp_RNA_obj$celltype5_rna

### set peaks as the default assay

In [60]:
DefaultAssay(novaseq) = "peaks"

### update renal_region_new as Renal Artery was missing

In [61]:
table(novaseq$renal_region_new)

 Cortex Medulla Papilla  Ureter
 178521   76815   58891    6950

In [62]:
novaseq$renal_region_new[is.na(novaseq$renal_region_new)] = "Renal Artery"
table(novaseq$renal_region_new)

      Cortex      Medulla      Papilla Renal Artery       Ureter
      178521        76815        58891         3524         6950

### add color palette info for rna

In [63]:
novaseq$celltype5_rna = as.character(novaseq$celltype5_rna)

In [64]:
levels(novaseq$celltype5_rna)
class(novaseq$celltype5_rna)
table(novaseq$celltype5_rna)

NULL

[1] "character"

       BT       CNT       DCT      ENDO      Fib1      Fib2      Fib3       ICA
     5280     13197     14150     12847      3786      7191      3095     10579
      ICB       JGA        Ma       PC1       PC2       PEC       POD        PT
     4120      2465      3673     16140      4049      1239      3179     64880
PT_dediff  PT_VCAM1      SMC1      SMC2      SMC3      TAL1      TAL2      TAL3
    29494      8445      4272       156        86     29910     19724      8900
   tL-TAL       tL1       tL2      Uro1      Uro2
    15485     25438      9029      3210       682

In [65]:
novaseq$celltype5_rna <- factor(novaseq$celltype5_rna, levels = level.novaseq.rna)

In [66]:
levels(novaseq$celltype5_rna)
class(novaseq$celltype5_rna)
table(novaseq$celltype5_rna)

 [1] "JGA"       "POD"       "PEC"       "PT"        "PT_dediff" "PT_VCAM1"
 [7] "tL1"       "tL2"       "tL-TAL"    "TAL1"      "TAL2"      "TAL3"
[13] "DCT"       "CNT"       "PC1"       "PC2"       "ICA"       "ICB"
[19] "Uro1"      "Uro2"      "ENDO"      "SMC1"      "SMC2"      "SMC3"
[25] "Fib1"      "Fib2"      "Fib3"      "Ma"        "BT"

[1] "factor"

      JGA       POD       PEC        PT PT_dediff  PT_VCAM1       tL1       tL2
     2465      3179      1239     64880     29494      8445     25438      9029
   tL-TAL      TAL1      TAL2      TAL3       DCT       CNT       PC1       PC2
    15485     29910     19724      8900     14150     13197     16140      4049
      ICA       ICB      Uro1      Uro2      ENDO      SMC1      SMC2      SMC3
    10579      4120      3210       682     12847      4272       156        86
     Fib1      Fib2      Fib3        Ma        BT
     3786      7191      3095      3673      5280

### add color palette info for atac

In [67]:
novaseq$celltype_atac5 = as.character(novaseq$celltype_atac5)

In [68]:
levels(novaseq$celltype_atac5)
class(novaseq$celltype_atac5)
table(novaseq$celltype_atac5)

NULL

[1] "character"

      BT      CNT      DCT     ENDO     Fib1     Fib2     Fib3       IC
    6166     9950    17704    14049     4668    10435      441    14133
      Ma      PC1      PC2  POD/PEC       PT PT_VCAM1      SMC     TAL1
    4136    15729     3497     1766    93543    12319     4513    35720
  TAL2/3   tL-TAL      tL1      tL2      Uro
   18326    20544    25095     8878     3089

In [69]:
novaseq$celltype_atac5 <- factor(novaseq$celltype_atac5, levels = level.novaseq)

In [70]:
levels(novaseq$celltype_atac5)
class(novaseq$celltype_atac5)
table(novaseq$celltype_atac5)

 [1] "POD/PEC"  "PT"       "PT_VCAM1" "tL1"      "tL2"      "tL-TAL"
 [7] "TAL1"     "TAL2/3"   "DCT"      "CNT"      "PC1"      "PC2"
[13] "IC"       "Uro"      "ENDO"     "SMC"      "Fib1"     "Fib2"
[19] "Fib3"     "Ma"       "BT"

[1] "factor"

 POD/PEC       PT PT_VCAM1      tL1      tL2   tL-TAL     TAL1   TAL2/3
    1766    93543    12319    25095     8878    20544    35720    18326
     DCT      CNT      PC1      PC2       IC      Uro     ENDO      SMC
   17704     9950    15729     3497    14133     3089    14049     4513
    Fib1     Fib2     Fib3       Ma       BT
    4668    10435      441     4136     6166

### add color palette info for renal region new

In [71]:
novaseq$renal_region_new = as.character(novaseq$renal_region_new)

In [72]:
levels(novaseq$renal_region_new)
class(novaseq$renal_region_new)
table(novaseq$renal_region_new)

NULL

[1] "character"

      Cortex      Medulla      Papilla Renal Artery       Ureter
      178521        76815        58891         3524         6950

In [81]:
novaseq$renal_region_new <- factor(novaseq$renal_region_new, levels = level.novaseq.renal_region_new)

In [82]:
levels(novaseq$renal_region_new)
class(novaseq$renal_region_new)
table(novaseq$renal_region_new)

[1] "Cortex"       "Medulla"      "Papilla"      "Renal Artery" "Ureter"

[1] "factor"

      Cortex      Medulla      Papilla Renal Artery       Ureter
      178521        76815        58891         3524         6950

### create output folder

In [83]:
dir.create("../../processed_data/", recursive = TRUE, showWarnings = FALSE)

### save multimodal meta.data

In [84]:
novaseq_meta_data = novaseq@meta.data

In [85]:
Sys.time()
save(list = c("novaseq_meta_data", 
             "level.novaseq.rna", "palette.novaseq.rna",
             "level.novaseq", "palette.novaseq",
             "level.novaseq.renal_region_new", "palette.novaseq.renal_region_new"), 
     file = "../../processed_data/20221221_324701_cells_multi_metadata.RData", compress = T)
Sys.time()

[1] "2023-06-27 23:09:06 CDT"

[1] "2023-06-27 23:09:12 CDT"

# save multimodal object

In [ ]:
Sys.time()
save(list = c("novaseq",
             "level.novaseq.rna", "palette.novaseq.rna",
             "level.novaseq", "palette.novaseq",
             "level.novaseq.renal_region_new", "palette.novaseq.renal_region_new"), 
     file = "../../processed_data/20221221_324701_cells_multi.RData", compress = T)
Sys.time()

[1] "2023-06-27 23:09:12 CDT"

In [ ]:
sessionInfo()

In [ ]:
Sys.time()